@use "../../mixins" as *;
@use "sass:color";

.select-component {
  display: flex;
  align-items: center;
  border: 1px solid var(--main-border-primary);
  line-height: 1;
  border-radius: 0.35rem;
  outline: none;
  box-shadow: none;
  color: var(--main-color-primary);

  &.small {
    height: 24px;

    & .p-dropdown {
      &-label {
        font-size: 12px;
        line-height: 1;
        padding: 0 4px;
      }
    }
  }

  &.medium {
    height: 32px;

    & .p-dropdown {
      &-label {
        font-size: 14px;
        line-height: 1;
        padding: 0 8px;
      }
    }
  }

  &.large {
    height: 40px;

    & .p-dropdown {
      &-label {
        font-size: 16px;
        line-height: 1;
        padding: 0 10px;
      }
    }
  }

  & .p-dropdown-trigger {
    width: 1.5rem;
  }

  & .p-component {
    width: 100%;
  }

  &.p-inputwrapper-focus {
    border-color: var(--main-text-blue);
  }

  &.p-disabled,
  &.p-component:disabled {
    opacity: 1;
  }
}

.select-component-panel {
  & .p-dropdown-header {
    & .p-dropdown-filter-icon {
      transform: translateY(-50%);
    }
  }

  & .p-dropdown {
    &-items {
      margin: 0;
      padding: 0;

      &-wrapper {
        color: red;

        @include scrollbar-vertical(12px);
      }
    }

    &-item {
      padding: 6px 8px;
      color: var(--main-text-primary);
      border: none;
      outline: none;

      & span {
        font-size: 13px;
        line-height: 1;
      }

      &.p-highlight {
        background-color: var(--main-bg-blue);
        color: var(--main-text-white);
        border: none;
      }

      &:not(.p-highlight, .p-disabled).p-focus {
        background-color: var(--main-bg-blue-light);
        color: var(--main-text-white);
        border: none;
      }
    }
  }

  &.small {
    & .p-dropdown-filter {
      padding: 2px 4px;
      font-size: 12px;
    }

    .p-icon {
      width: 0.75rem;
      height: 0.75rem;
    }

    & .p-dropdown {
      &-item {
        padding: 3px 4px;

        & span {
          font-size: 12px;
        }
      }
    }
  }

  &.medium {
    & .p-dropdown-filter {
      padding: 6px 8px;
      font-size: 14px;
    }

    .p-icon {
      width: 1rem;
      height: 1rem;
    }

    & .p-dropdown {
      &-item {
        padding: 6px 8px;

        & span {
          font-size: 14px;
        }
      }
    }
  }

  &.large {
    & .p-dropdown-filter {
      padding: 8px 10px;
      font-size: 16px;
    }

    .p-icon {
      width: 1.2rem;
      height: 1.2rem;
    }

    & .p-dropdown {
      &-item {
        padding: 8px 10px;

        & span {
          font-size: 16px;
        }
      }
    }
  }
}
