@use "@scss/variables" as *;
@use "@scss/mixins" as *;

.layout {
  display: flex;
  height: 100vh;

  .layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .main-content {
      flex: 1;
      padding: 8px;
      background-color: var(--main-bg-page);
      overflow: hidden auto;

      @include scrollbar-vertical(12px, $main-bg-blue, $main-bg-white);
    }
  }
}
