.truth-table {
  // width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--main-border-gray);

  & .thead tr th,
  & .tbody tr td {
    border: 1px solid var(--main-border-gray);
  }

  & .tbody tr {
    cursor: pointer;
  }
}
